[run]
source = tinyscript
omit = tests/

[report]
exclude_lines=
    pragma: no cover
    # Python2/3 incompatibilities
    PYTHON3
    from configparser import ConfigParser
    from ConfigParser import ConfigParser
    except\ ImportError:
    # sudo when using 'initialize'
    os\.geteuid\(\)\ \!\=\ 0
    # 'interact' module - remote interaction
    class\ ConsoleSocket
    class\ RemoteInteractiveConsole
