[run]
source = tinyscript
omit =
    tinyscript/helpers/termsize.py
    tests/*

[report]
exclude_lines =
    pragma: no cover
    # Python2/3 incompatibilities if/elif/else blocks
    (?m)(?P<indent>(?:\s+))if.*?PYTHON3.*?\:((?P=indent)\s+.*?)+(((?P=indent)else|elif).*?\:((?P=indent)\s+.*?)+)*$
    # __main__ logics
    if\s+__name__\s+==\s+(?P<q>(?:[\'\"]))__main__(?P=q)\s+:
    import ConfigParser
    except ImportError:
    except NameError:
    # sudo when using 'initialize'
    os\.geteuid\(\) \!\= 0
    # 'interact' module - remote interaction
    class ConsoleSocket
    class RemoteInteractiveConsole
    # exit tasks
    def __at_exit\(\)\:
    if DARWIN:
    if WINDOWS:
    raise NotImplementedError
    # virtualenv package install
    elif line.startswith\(\"Successfully installed\"\):
    for top_level in __install
