asciistuff>=1.0.12
bitstring
codext
coloredlogs
colorful
dicttoxml
ipaddress
json2html
mdv
netaddr
netifaces
patchy
pathlib
pip>=19.2
plyer>=2.0.0; python_version>='3.5'
pygments
pyminizip
pynput
pypandoc
pypiwin32; sys_platform=='windows'
python-slugify
pyyaml>=5.3.1
six
terminaltables
toml
tqdm
virtualenv
weasyprint; python_version>='3.5'
xmltodict
pillow>=8.1.0 # not directly required, pinned by Snyk to avoid a vulnerability
