asciistuff
bitstring
codext
coloredlogs
colorful
ipaddress
markdown2
mdv
netaddr
netifaces
numpy; python_version>='3.4'
pandas; python_version>='3.4'
patchy
pathlib
pip
plyer
pynput
pypandoc
python-slugify
six
tqdm
virtualenv
weasyprint; python_version>='3.4'
