asciistuff>=1.0.8
bitstring
codext
coloredlogs
colorful
dicttoxml
ipaddress
json2html
mdv
netaddr
netifaces
patchy
pathlib
pip>=19.2
plyer
pygments
pyminizip
pynput
pypandoc
python-slugify
pyyaml>=5.3.1
six
terminaltables
toml
tqdm
virtualenv
weasyprint; python_version>='3.5'
xmltodict
